html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #e0e0e4;
	box-sizing: border-box;
}

.container-iframe {
	background: #f1f1f1;
	border-bottom: 3px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
	padding-bottom: 45px;
}

video {
	width: 100%;
	height: 80vh;
	object-fit: cover;
}

/* BOUTON RETOUR HAUT */

.to-top {
	background: white;
	position: fixed;
	bottom: 16px;
	right: 32px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: #c0c0c0;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;
}

.to-top.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}

 /* NAVBAR */
 
.container-flex {
	display: flex;
	justify-content: space-around;
}

.navbar {
	padding: 0;
	background-color: #ebebeb;
	border-top: 5px solid #ff3346;
	border-bottom: 2px solid #ff3346;
}

.nav-link {
    font-size: 17px;
    font-weight: 700;
    color: #2c3e50!important;
	transition: all 0.4s ease-in-out;
}

.nav-link:hover {
	color: #ff3346!important;
	text-shadow: 0em 0em 0.1em #000000;
}

	/* CUBE 3D */

.contener_box {
	perspective: 1000px;
}

.box {
	display: flex;
	margin: 15px auto;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	transition: transform 350ms;
	animation: spin 12s infinite linear;
}

.box:before, .box:after, .box i, .box i:before, .box i:after {
	content: '';
	width: 100px;
	height: 100px;
	position: absolute;
}

.box:before {
	transform: rotateY(90deg) translate3D(-50px,0,50px);
	background: url(../img/sophro10.jpg) no-repeat center/cover;
	content:'';
}

.box:after {
	transform: rotateY(90deg) rotateZ(180deg) translate3D(50px,0,-50px);
	background: url(../img/sophro7.jpg) no-repeat center/cover;

}

.box i {
	transform-style: preserve-3d;
	transform: translate3D(0,0,100px);
	background: url(../img/sophro9.jpg) no-repeat center/cover;
}

.box i:before {
	transform: translate3D(0,0,-100px);
	background: url(../img/sophro11.jpg) no-repeat center/cover;
}

.box i:after {
	transform: rotateX(90deg) translate3D(0,-50px,-100px);
	animation: none;
}

@keyframes spin {
	0% { transform: rotateY(0deg) translateZ(-50px); }
	100% { transform: rotateY(360deg) translateZ(-50px); }
}

	/* TITLE */
 
h1 {
	text-align: center;
	font-weight: 500;
	font-size: 4.5rem;
	font-family: 'Kaushan Script', cursive;
	text-shadow: 1px 2px 6px #eee;
	color: #2c3e50;
	position: absolute;
	top: 22%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

	/* INFORMATIONS ET RENDEZ-VOUS */

.contact {
	margin: 0 auto;
	background: #38628d;
	border-radius: 25px;
	box-shadow: #2c3e50 0px 3px 25px 2px;
	height: auto;
	border: 1px solid #2c3e50;
	width: 400px;
	transition: .4s all ease-in-out;
	display: block;
}

.contact:hover {
	background: #2c3e50;
	box-shadow: #2c3e50 0px 3px 25px 15px;
	border: 1px solid #ff3346;
	cursor: pointer;
}

.minicard__content {
	font-size: 20px;
	margin: 15px 20px;
	font-weight: 300;
	color: #f1f1f1;
	text-align: center;
}

	/* CONTENT */

#content1 {
	padding: 80px 0 50px;
	background: #f1f1f1;
}

#content1 .imgage {
	width: 400px;
    padding: 10px 20px 0 0;
    float: left;
}

#content1 strong {
	font-size: 22px;
	color: #2c3e50;
}

#content1 p {
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	font-size: 20px;
	padding: 0;
	color: #2c3e50;
}

.prenom {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #2c3e50;
	font-weight: 500;
	padding: 50px 0;
	float: right;
}

.citation {
	margin: 20px auto 0;
	padding-bottom: 50px;
	color: #2c3e50;
	font-weight: 700;
	font-size: 30px;
	border-bottom: 3px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

#content2, #content5, #content6 {
	padding: 30px 0;
}
#content2 {
	border-top: 1px solid #34495e;
}
#content3 {
	padding: 30px 0 0;
}

.bloc {
	max-width: 1100px; 
	margin: 110px auto;
}

.bloc2 {
	max-width: 1100px; 
	margin: 110px auto 0;
}

.bloc h2, .bloc2 h2, .bloc3 h2, .bloc4 h2 {
	margin: 0 0 60px;
	text-align: center;
	font-weight: 500;
	font-size: 60px;
	color: #2c3e50;
	text-shadow: #2c3e50 0.1em 0.1em 0.3em;
	font-family: 'Kaushan Script', cursive;
}

.bloc p, .bloc2 p {
	text-align: justify;
	padding: 0 20px;
	font-size: 19px;
	font-family: 'Aria', sans-serif;
	color: #2c3e50;
}

	/* FAQ*/
	
#content5 {
	padding: 40px 0;
}

.bloc3 {
	margin: 100px auto 0;
	padding: 25px 15px;
	border-radius: 25px;
	border: 1px solid #2c3e50;
	box-shadow: #2c3e50 0px 3px 25px 2px;
}

.accordion {
	width: 80%;
	padding: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.logo-image {
	width: 50%;
	border: 1px solid #2c3e50;
	border-radius: 5px;
}

.accordion-item {
	background-color: #fff;
	color: #2c3e50;
	margin: 1rem 0;
}

.accordion-item-header {
	padding: 0.5rem 3rem 0.5rem 1rem;
	min-height: 1.8rem;
	line-height: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	box-shadow: 0 3px 5px 0 #2c3e50;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
	box-shadow: 0 2px 5px 0 #2c3e50;
}

.accordion-item-header:hover {
	background-color: #c0c0c0;
}

.accordion-item-header::after {
	content: "\002B";
	font-size: 2rem;
	position: absolute;
	right: 1rem;
	transition: transform 0.5s ease-in-out;
}

.accordion-item-header.active::after {
	content: "\2212";
	transform: rotate(180deg);
}

.accordion-item-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.accordion-item-body-content {
	background-color: #e0e0e4;
	padding: 1rem;
	font-size: 1.1rem;
	line-height: 1.5rem;
	border-top: 3px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
	html {
		font-size: 14px;
	}
}

.bloc4 {
	margin: 100px auto;
}

.bloc4 figure {
	font-family: 'Aria', sans-serif;
	color: #2c3e50;
	text-align: justify;
	border: 1px solid #2c3e50;
	padding: 15px;
	border-radius: 10px;
	background: #F5F5F5;
	transition: .3s all ease-in-out;
}

.bloc4 figure:hover {
	box-shadow: #2c3e50 0px 3px 25px 2px;
	background: #ffffff;
}

.bloc4 a {
	text-decoration: none;
}

	/* PRESTATIONS */

#content4 {
	padding: 135px 0 100px;
}

.bloc-P {
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	background-image: url(../img/jetée.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: auto;
	background-position: center;
	display: block;
	position: relative;
	
}

#content4 .overlay {
	background: rgba(255, 255, 255, 0.50);
	height: auto;
	width: 100%;
}

#content4 h2 {
	color: #2c3e50;
	font-weight: 500;
	font-size: 60px;
	text-align: center;
	padding: 40px 0 50px 0;
	text-shadow: #2c3e50 0.1em 0.1em 0.3em;
	font-family: 'Kaushan Script', cursive;
}

#content4 .icone {
	text-align: center;
	padding: 0 0 50px 0;
}

#content4 ul {
	list-style: none;
	text-align: center;
	padding: 0 0 30px 0;
}

.marg {
	padding: 3px;
	font-size: 1.6rem;
	font-family: 'Aria', sans-serif;
	color: #2c3e50;
}

#content4 i {
	cursor: pointer;
	color: #2c3e50;
}

#content4 i:hover {
	-webkit-animation: bounce 0.35s ease infinite alternate;
	        animation: bounce 0.35s ease infinite alternate;
}

@-webkit-keyframes bounce{
	from{
        -webkit-transform: translateY(0);
        transform :translateY(0);
    }
    to{
        -webkit-transform: translateY(-20px);
        transform :translateY(-20px);
    }
}

@keyframes bounce{
	from{
        -webkit-transform: translateY(0);
        transform :translateY(0);
    }
    to{
        -webkit-transform: translateY(-20px);
        transform :translateY(-20px);
    }
}

#diplomes {
	margin: 100px auto;
}

#diplomes h2 {
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	font-size: 55px;
	color: #2c3e50;
	text-shadow: #2c3e50 0.1em 0.1em 0.3em;
	font-family: 'Kaushan Script', cursive;
}

.cartes {
	margin: 80px auto;
}

#diplomes .card {
	width: 80%;
	margin: 0 auto;
	border: 1px solid #2c3e50;
	transition: .4s all ease-in-out;
}

#diplomes .card1, .card2, .card3, .card4 {
	top: 50%;
	transform: translateY(-50%);
}

#diplomes .card:hover {
	box-shadow: #2c3e50 0px 2px 10px 1px;
}

.footer {
	margin-top: 10px;
	color: #808080;
	padding-top: 10px;
	background-color: #c0c0c0;
}

	/* CAROUSEL */

#carouselExampleFade1 {
    width: 600px;
    padding: 10px 20px 0 20px;
    float: right;
}

#carouselExampleFade2 {
    width: 600px;
    padding: 10px 20px 0 20px;
    float: right;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border: 1px solid #2c3e50;
}


@media only screen and (max-width: 940px) {
	h1 {
		font-weight: 400;
		font-size: 50px;
	}
	.container-bloc {
		max-width: 600px;
	}
	.logo-image, .accordion-bloc {
		width: 80%;
		margin: 20px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		height: 30vh;
	}
	video {
		height: 50vh;
		padding-bottom: 120px;
	}
	h1 {
		text-shadow: 1px 2px 6px #eee;
		top: 12%;
		font-size: 35px;
	}
	#content1 .imgage {
		width: 200px;
		height: 50%;
		padding: 0;
		padding: 0 10px 0 0;
	}
	.cartes {
		height: 60vh;
		margin: 0 auto;
	}
	#diplomes {
		margin: 50px auto 0;
	}
	#diplomes h2 {
		font-weight: 400;
		font-size: 50px;
		margin: 0 auto 20px;
	}
	#diplomes .card {
		width: 30%;
		margin: 0 auto 5px;
	}
	.footer {
		margin: 50px auto 0;
	}
}





