body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #e0e0e4;
	box-sizing: border-box;
		animation: fadeInAnimation ease 3s; 
     	animation-fill-mode: forwards; 
		animation-iteration-count: 1; 
    } 
    @keyframes fadeInAnimation { 
    0% 
    { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
}

header {
	background-image: url(../img/blue_merRc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	max-width: 100%;
	height: 70vh;
	border-bottom: 2px solid #2c3e50; 
}

h2 {
	font-size: 50px;
	padding: 30px 0 25px;
	color: #2c3e50;
	font-family: 'Kaushan Script', cursive;
	text-shadow: #2c3e50 0.1em 0.1em 0.3em;
	text-align: center;
}

#navbarCollapse {
    font-size: 20px;
    font-weight: 700;
    color: #2c3e50!important;
    vertical-align: middle;
	line-height: 90px;
}

#navbarCollapse:hover {
	color: #ff3346!important;
	transition: .4s all;
	text-shadow: 0em 0em 0.1em #000000;
}

.container-flex {
	display: flex;
	justify-content: space-around;
}

.navbar {
	padding: 0;
	background-color: #e2e2e2;
	border-top: 5px solid  #ff3346;
	border-bottom: 2px solid  #ff3346;
}

.navbar .logo img {
	border-radius: 50%;
	max-height: 70px;
	margin-top: 18px;
}

.navbar img {
	max-height: 90px;
	margin: 10px 0;
}

	/* HEADER */

h1 {
	text-align: center;
	font-weight: 500;
	font-size: 75px;
	font-family: 'Kaushan Script', cursive;
	text-shadow: #2c3e50 0.1em 0.1em 0.3em;
	color: #2c3e50;
	padding: 200px 0 0;
}

	/*  CONTACT/PLAN */

#contact {
	margin: 0 auto;
	background: #f1f1f1;
	padding-bottom: 20px;
	border-bottom: 1px solid #2c3e50;
	padding-bottom: 3rem;
	width: 100%;
}

#contact h2 {
	padding: 3rem 0 4rem;
}

.bd-grid {
	max-width: 1000px;
	
    display: grid;
    grid-column-gap: 1rem;
	margin-left: 1rem;
    margin-right: 1rem;
}

.contact__container {
    row-gap: 2rem;
}

.contact__info {
    margin: auto;
}

.contact__info h3 {
	letter-spacing: 2px;
    text-transform: uppercase;
}

.contact__subtitle {
    font-size: 1.1rem;
    color: #000;
}

hr {
	margin-bottom: 1.5rem;
	border: 0;
    border-top: 1px solid #000;
}

.contact__text {
	font-size: 1rem;
    display: inline-block;
    color: #2c3e50;
	transition: all .5s;
}

.contact__text.mail:hover {
    color: #000;
}

.contact__inputs {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
}

.contact__input {
    width: 100%;
    padding: .5rem;
    outline: none;
    border: 1.5px solid #2c3e50;
    font-size: .938rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.contact__button {
    display: block;
    background-color: #2c3e50;
    color: #FAFAFF;
    padding: .55rem 2rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: 1px solid #2c3e50;
    cursor: pointer;
    transition: all .5s;
}

.contact__button:hover {
    background-color: #FAFAFF;
    color: #2c3e50;
    border: 1px solid #2c3e50;
	box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 25px 5px;
}

iframe {
	width: 670px;
	height: 415px;
	padding: 0;
}

	/*  TARIF */

#tarif {
	margin: 50px auto;
	background: #f1f1f1;
	border-top: 1px solid #2c3e50;
	border-bottom: 1px solid #2c3e50;
	box-sizing: border-box;
}

#tarif p {
	color: #2c3e50;
	font-family: 'Aria', sans-serif;
	font-size: 1.2rem;
}

#tarif .block {
	margin: 0 auto;
	text-align:center;
}

#citation .img {
	width: 60%;
} 

.footer {
	margin-top: 50px;
	padding-top: 10px;
	background-color: #c0c0c0;
}

.footer .section-subtitle {
	font-size: .9rem;
}

.footer .section-title1 {
	color: #616161;
	font-size: .9rem;
}


@media screen and (min-width: 991px) {
	body {
		box-sizing: border-box;
	}
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
	.contact__container {
        grid-template-columns: repeat(2, 1fr);
    }
	
	.contact__form {
        width: 380px;
		margin: 0 auto;
    }
	iframe {
		width: 100%;
	}
}

@media only screen and (max-width: 940px) {
	h1 {
		font-weight: 400;
		font-size: 50px;
	}
	iframe {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	header {
		height: 30vh;
	}
	#navbarCollapse {
		font-size: 18px;
		font-weight: 600;
		vertical-align: middle;
		line-height: 70px;
	}
	.navbar .logo img {
		max-height: 60px;
	}
	.navbar img {
		max-height: 70px;
	}
	h1 {
		padding-top: 130px;
		font-size: 35px;
	}
	#contact h2 {
		font-size: 40px;
	}
	#contact {
		margin: 50px auto 0;
		width: 500px;
	}
	#tarif {
		width: 500px;
	}
	iframe {
		width: 470px;
	}
}

@media screen and (min-width: 300px)and (max-width: 500px) {
    body {
        width: 496px;
    }
    h1 {
		padding-top: 120px;
		font-size: 30px;
	}
	#contact h2 {
		font-size: 2rem;
	}
	#tarif {
		width: 350px;
		margin: 20px auto;
	}
	#tarif h4 {
		font-size: 2rem;
	}
	#tarif p {
		font-size: 1rem;
	}
	#citation .img {
		width: 80%;
	}
	.footer {
		font-size: 0.7rem;
	}
}




